@font-face {
  font-family: 'BAHNSCHRIFT';
  src: url('fonts/BAHNSCHRIFT.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%201.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%202.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%203.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%204.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%205.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%206.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%207.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%208.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%209.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%209.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%2010.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%2011.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%2012.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%2013.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT%2014.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
