@font-face {
  font-family: 'BAHNSCHRIFT';
  src: url('fonts/BAHNSCHRIFT.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-1.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-2.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-3.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-4.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-5.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-6.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-7.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-8.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-9.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-10.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-11.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-12.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-13.TTF') format('truetype'),
       url('fonts/BAHNSCHRIFT-14.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
